<div id="footer">
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
<div>晋ICP备18009873号-2</div>
<div style="width:300px;margin:0 auto;">
	<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=14010902000668" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
		<img src="https://pic.imgdb.cn/item/624a1ae7239250f7c58443ee.png" style="float:left;"/>
		<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
		晋公网安备 14010902000668号
		</p>
	</a>
</div>
</div>